.dash-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: cover;
  background-color: #9499a2;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.dash-icon:hover {
  background-color: #fff;
}

.active .dash-icon {
  background-color: #fff;
}

.icon-home {
  -webkit-mask: url(../images/icons/home.svg) no-repeat 50% 50%;
  mask: url(../images/icons/home.svg) no-repeat 50% 50%;
  width: 29px;
  height: 26px;
}

.icon-user-circle {
  -webkit-mask: url(../images/icons/user-circle.svg) no-repeat 50% 50%;
  mask: url(../images/icons/user-circle.svg) no-repeat 50% 50%;
  width: 32px;
  height: 32px;
}

.icon-list {
  -webkit-mask: url(../images/icons/list.svg) no-repeat 50% 50%;
  mask: url(../images/icons/list.svg) no-repeat 50% 50%;
  width: 26px;
  height: 24px;
}

.icon-guage {
  -webkit-mask: url(../images/icons/guage.svg) no-repeat 50% 50%;
  mask: url(../images/icons/guage.svg) no-repeat 50% 50%;
  width: 28px;
  height: 28px;
}

.icon-users {
  -webkit-mask: url(../images/icons/users.svg) no-repeat 50% 50%;
  mask: url(../images/icons/users.svg) no-repeat 50% 50%;
  width: 34px;
  height: 24px;
}

.icon-help {
  -webkit-mask: url(../images/icons/help.svg) no-repeat 50% 50%;
  mask: url(../images/icons/help.svg) no-repeat 50% 50%;
  width: 30px;
  height: 30px;
}

.icon-setting {
  -webkit-mask: url(../images/icons/settings.svg) no-repeat 50% 50%;
  mask: url(../images/icons/settings.svg) no-repeat 50% 50%;
  width: 25px;
  height: 24px;
}

.admin-page .header .navbar {
  position: fixed !important;
  left: 0;
  top: 0;
  right: 0;
  height: 84px;
  border-bottom: 4px solid #f0f0f0;
  -webkit-animation-name: none !important;
  animation-name: none !important;
}

.left-sidenav {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #1c283a;
  width: 106px;
  height: 100%;
  min-height: 100vh;
  z-index: 9999;
  display: block;
}

.left-sidenav .left-sidenav-inner {
  height: 100%;
  overflow: hidden;
}

.left-sidenav .left-sidenav-inner .nav-div {
  min-height: calc(100vh - 100px);
  height: 100%;
  overflow-y: auto;
  padding-bottom: 100px;
  max-height: 1024px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.left-sidenav .left-sidenav-inner .nav-div::-webkit-scrollbar {
  width: 5px;
}

.left-sidenav .left-sidenav-inner .nav-div::-webkit-scrollbar-track {
  background: #1c283a;
}

.left-sidenav .left-sidenav-inner .nav-div::-webkit-scrollbar-thumb {
  background: #888;
}

.left-sidenav .left-sidenav-inner .nav-div::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.left-sidenav .side-nav-logo {
  height: 84px;
  background-color: #f58031;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  margin-bottom: 30px;
}

.left-sidenav .side-nav-logo::before {
  content: "";
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
  position: absolute;
  bottom: 0;
  right: -21px;
  display: block;
  height: 84px;
  width: 21px;
  background-color: #f2f2f2;
}

.left-sidenav .side-nav-logo::after {
  content: "";
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 0);
  clip-path: polygon(0 0, 0% 100%, 100% 0);
  position: absolute;
  bottom: -21px;
  left: 0;
  display: block !important;
  height: 21px;
  width: 100%;
  background-color: #151e2c;
  z-index: 5;
}

.left-sidenav .side-nav-logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.left-sidenav .side-nav-logo a img {
  height: 38px;
  width: 38px;
}

.left-sidenav .nav-div {
  padding: 30px 00 0;
  position: relative;
  width: 100%;
}

.left-sidenav .nav-div .sidenav {
  width: 100%;
}

.left-sidenav .nav-div .sidenav ul li {
  display: block;
  margin-bottom: 4px;
}

.left-sidenav .nav-div .sidenav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 74px;
  background-color: rgba(255, 255, 255, 0.05);
  position: relative;
}

.left-sidenav .nav-div .sidenav ul li a::after {
  content: "";
  height: 68px;
  width: 2px;
  position: absolute;
  top: 3px;
  left: 4px;
  display: none;
  background-color: #6fb02f;
}

.left-sidenav .nav-div .sidenav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.left-sidenav .nav-div .sidenav ul li a:hover::after {
  display: block;
}

.left-sidenav .nav-div .sidenav ul li a.active {
  background-color: rgba(255, 255, 255, 0.1);
}

.left-sidenav .nav-div .sidenav ul li a.active::after {
  display: block;
}

.sidemenu-open-main {
  padding-left: 120px !important;
  display: block;
  position: relative;
}

.sidemenu-open-header {
  padding-left: 106px !important;
}

.admin-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}

.admin-header .logo-admin-header {
  height: 39px;
  width: 39px;
  display: none;
}

.admin-header .logo-admin-header a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.admin-header .logo-admin-header a img {
  width: 100%;
}

.admin-header .company-name h3 {
  font-size: 35px;
  line-height: 23px;
  font-weight: 500;
  color: #4e4e4e;
  margin-bottom: 0;
}

.admin-header .collapse1 .navbar-nav {
  -webkit-box-pack: end !important;
  -ms-flex-pack: end !important;
  justify-content: flex-end !important;
}

.admin-header .admin-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.admin-header .admin-profile .notification {
  padding: 0 20px;
  min-height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.admin-header .admin-profile .notification .icon-notifaction {
  display: block;
  position: relative;
}

.admin-header .admin-profile .notification .icon-notifaction .badge {
  height: 7px;
  min-height: 7px;
  width: 7px;
  max-width: 7px;
  min-width: 7px;
  padding: 0;
  position: absolute;
  border-radius: 100%;
  background-color: #f58031;
  margin: 0 auto;
  bottom: -18px;
  left: 0;
  right: 0;
}

.admin-header .admin-profile .notification .icon-notifaction img {
  height: 18px;
  width: 18px;
}

.admin-header .admin-profile .notification .dropdown-menu {
  right: 0;
  top: 40px;
  left: auto;
  background-color: #fff;
  padding: 20px 15px;
  min-width: 280px;
  border-radius: 0;
  width: 100%;
  border: 0;
  -webkit-box-shadow: 0 60px 60px 0 rgba(0, 0, 0, 0.14);
  box-shadow: 0 60px 60px 0 rgba(0, 0, 0, 0.14);
}

.admin-header .admin-profile .notification .dropdown-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.admin-header .admin-profile .notification .dropdown-menu ul li {
  background-color: #fff;
  padding: 5px 10px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.2);
}

.admin-header .admin-profile .notification .dropdown-menu ul li:last-child {
  border: 0;
}

.admin-header .admin-profile .notification .dropdown-menu ul li:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: rgba(245, 128, 49, 0.1);
}

.admin-header .admin-profile .notification .dropdown-menu ul li h3 {
  font-size: 14px;
  line-height: 24px;
  color: #1c283a;
  font-weight: 600;
  margin-bottom: 0;
}

.admin-header .admin-profile .notification .dropdown-menu ul li p {
  font-size: 14px;
  line-height: 22px;
  color: #333333;
  margin-bottom: 5px;
}

.admin-header .admin-profile .notification .dropdown-menu ul li span {
  display: block;
  text-align: right;
  font-size: 12px;
  color: #1c283a;
}

.admin-header .admin-profile .br-1 {
  position: relative;
}

.admin-header .admin-profile .br-1::after {
  content: "";
  display: block;
  height: 25px;
  width: 2px;
  position: absolute;
  right: 0;
  top: 8px;
  background-color: #ebebeb;
}

.admin-header .admin-profile .add {
  padding: 0 23px;
}

.admin-header .admin-profile .add .btn-round {
  border-radius: 100%;
}

.admin-header .admin-profile .user-profile {
  padding: 0 25px;
}

.admin-header .admin-profile .user-profile .profile-option img {
  border-radius: 100%;
  overflow: hidden;
  height: 42px;
  width: 42px;
}

.admin-header .admin-profile .user-profile .profile-option::after {
  color: #888888;
  content: "\f107";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  border: 0;
  position: relative;
  top: 5px;
}

.admin-header .admin-profile .user-profile .dropdown-menu {
  left: auto;
  right: 0;
  border: 0;
  padding: 10px 0;
  -webkit-box-shadow: 0 60px 60px 0 rgba(0, 0, 0, 0.14);
  box-shadow: 0 60px 60px 0 rgba(0, 0, 0, 0.14);
}

.admin-header .admin-profile .user-profile .dropdown-menu a {
  font-size: 15px;
  line-height: 34px;
  color: #1c283a;
  font-weight: 500;
  letter-spacing: 0.3px;
}

.admin-header .admin-profile .user-profile .dropdown-menu a:hover {
  background-color: #f58031;
  color: #fff;
}

.admin-header .admin-profile .user-profile .dropdown-menu a:active {
  background-color: #f58031;
  color: #fff;
}

.middle-admin {
  padding: 46px 0 46px 0;
}

.middle-admin .admin-heading-section .admin-heading h3 {
  font-size: 31px;
  line-height: 25px;
  color: #151e2c;
  font-weight: 400;
  margin-bottom: 22px;
}

.middle-admin .admin-seeting-tabs .tab-container {
  max-width: 1440px;
  padding: 0 80px;
}

.middle-admin .admin-seeting-tabs .tab-container .nav-tabs {
  border-bottom: 0;
}

.middle-admin .admin-seeting-tabs .tab-container .nav-tabs li a {
  padding: 22px 25px;
  display: block;
  font-size: 13px;
  line-height: 22px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  color: #222222;
  border-bottom: 2px solid transparent;
}

.middle-admin .admin-seeting-tabs .tab-container .nav-tabs li a.active {
  border-bottom: 2px solid #6fb02f;
}

.middle-admin .admin-seeting-tabs .tab-container .tab-content {
  padding: 40px 0;
}

.middle-admin .admin-seeting-tabs .tab-container .tab-content .tab-body .profile-img {
  height: 125px;
  width: 125px;
  overflow: hidden;
}

.middle-admin .admin-seeting-tabs .tab-container .tab-content .tab-body .profile-img img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
}

.middle-admin .admin-seeting-tabs .tab-container .tab-content .tab-body .company-logo {
  height: 250px;
  width: 250px;
}

.middle-admin .admin-seeting-tabs .tab-container .tab-content .tab-body .company-logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.middle-admin .admin-seeting-tabs .tab-container .tab-content .tab-body .company-icon {
  height: 125px;
  width: 125px;
  overflow: hidden;
}

.middle-admin .admin-seeting-tabs .tab-container .tab-content .tab-body .company-icon img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
}

.middle-admin .admin-seeting-tabs .tab-container .tab-content .tab-body .file-upload {
  display: none;
}

.middle-admin .admin-seeting-tabs .tab-container .tab-content .tab-body .form {
  margin-bottom: 20px;
}

.middle-admin .admin-seeting-tabs .tab-container .tab-content .tab-body .post-content {
  margin-bottom: 80px;
}

.middle-admin .admin-seeting-tabs .tab-container .tab-content .tab-body .post-content .post-heading h5 {
  margin-bottom: 20px;
}

.middle-admin .admin-seeting-tabs .tab-container .tab-content .tab-body .post-content .btn {
  margin-bottom: 10px;
}

.middle-admin .admin-seeting-tabs .tab-container .tab-content .tab-body .subscription-content {
  margin-bottom: 20px;
}

.middle-admin .admin-seeting-tabs .tab-container .tab-content .tab-body .subscription-content .subscription-heading h5 {
  margin-bottom: 20px;
}

.middle-admin .admin-seeting-tabs .tab-container .tab-content .tab-body table {
  -webkit-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.08);
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.middle-admin .admin-seeting-tabs .tab-container .tab-content .tab-body table .thead-dark th {
  background-color: #1c283a !important;
  border-color: #1c283a !important;
  height: 60px;
  vertical-align: middle;
}

.middle-admin .admin-seeting-tabs .tab-container .tab-content .tab-body table tbody tr:nth-of-type(even) {
  background-color: #fbfbfb;
}

.middle-admin .admin-seeting-tabs .tab-container .tab-content .tab-body table tbody tr td {
  color: #737c8b;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  min-height: 50px;
  vertical-align: middle;
  border-top: 1px solid #fff;
}

.middle-admin .admin-seeting-tabs .tab-container .tab-content .tab-body .tbl-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.middle-admin .admin-seeting-tabs .tab-container .tab-content .tab-body .tbl-action .switch-slider {
  margin-bottom: 0 !important;
}

.middle-admin .admin-seeting-tabs .tab-container .tab-content .tab-body .tbl-action a {
  display: block;
  height: 100%;
  color: #ccc;
  font-size: 24px;
}

.middle-admin .admin-seeting-tabs .tab-container .tab-content .tab-body .tbl-action a:hover {
  color: #f58031;
}

.middle-admin .admin-seeting-tabs .bt-20 {
  border-bottom: 17px solid #e5e5e5;
}

.middle-admin .admin-manage-user .tab-container {
  max-width: 1440px;
  padding: 0 80px;
}

.middle-admin .admin-manage-user .tab-container .drop-section {
  height: 226px;
  background-color: #e6e6e6;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 20px;
}

.middle-admin .admin-manage-user .tab-container table {
  -webkit-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.08);
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.middle-admin .admin-manage-user .tab-container table .thead-dark th {
  background-color: #1c283a !important;
  border-color: #1c283a !important;
  height: 60px;
  vertical-align: middle;
  text-align: center;
}

.middle-admin .admin-manage-user .tab-container table tbody tr:nth-of-type(even) {
  background-color: #fbfbfb;
}

.middle-admin .admin-manage-user .tab-container table tbody tr td {
  color: #737c8b;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  min-height: 50px;
  vertical-align: middle;
  border-top: 1px solid #fff;
  text-align: center;
}

.middle-admin .admin-manage-user .tab-container table .tbl-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.middle-admin .admin-manage-user .tab-container table .tbl-profile .pofile-circle {
  height: 36px;
  width: 36px;
  min-width: 36px;
  border-radius: 100px;
  overflow: hidden;
  background-color: #737c8b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
}

.middle-admin .admin-manage-user .tab-container table .tbl-profile .pofile-circle img {
  width: 100%;
}

.middle-admin .admin-manage-user .tab-container table .tbl-profile .pofile-circle span {
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  display: block;
}

.middle-admin .admin-manage-user .tab-container table .tbl-profile .profile-name {
  padding: 0 0 0 10px;
}

.middle-admin .admin-manage-user .tab-container table .tbl-profile .profile-name span {
  color: #737c8b;
  font-size: 16px;
  line-height: 19px;
  white-space: nowrap;
}

.middle-admin .admin-manage-user .tab-container table .text-green {
  color: #6fb02f;
}

.middle-admin .admin-manage-user .tab-container table .select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #f58031 !important;
  color: #fff;
}

.middle-admin .admin-manage-user .tab-container table .select2 {
  width: 100% !important;
}

.middle-admin .admin-manage-user .tab-container table .select2-container {
  border: 0;
}

.middle-admin .admin-manage-user .tab-container table .select2-container--default .select2-selection--single {
  outline: 0;
  height: 40px !important;
  border: 1px solid transparent !important;
  background-color: transparent !important;
}

.middle-admin .admin-manage-user .tab-container table .select2-container--default .select2-selection--single .select2-selection__rendered {
  border: 1px solid transparent !important;
  height: 42px;
  background-color: transparent !important;
  border-radius: 0;
  font-size: 14px;
  line-height: 40px !important;
  font-weight: 600;
  padding-left: 20px !important;
}

.middle-admin .admin-manage-user .tab-container table .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 40px !important;
}

.middle-admin .admin-manage-user .tab-container table .select2-container--default .select2-selection--single .select2-selection__arrow::after {
  color: #888888;
  content: "\f107";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  border: 0;
  position: relative;
  top: 10px;
}

.middle-admin .admin-manage-user .tab-container table .select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none;
}

.middle-admin .admin-manage-user .tab-container .tbl-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.middle-admin .admin-manage-user .tab-container .tbl-action .switch-slider {
  margin-bottom: 0 !important;
}

.middle-admin .admin-manage-user .tab-container .tbl-action .actiion-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.middle-admin .admin-manage-user .tab-container .tbl-action .actiion-div a {
  font-size: 30px;
  color: #ccc;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.middle-admin .admin-manage-user .tab-container .tbl-action .actiion-div a:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.middle-admin .admin-manage-user .tab-container .tbl-action .actiion-div .facebook:hover {
  color: #4c8aed;
}

.middle-admin .admin-manage-user .tab-container .tbl-action .actiion-div .linkedin:hover {
  color: #45a8cc;
}

.middle-admin .admin-manage-user .tab-container .tbl-action .actiion-div .twitter:hover {
  color: #84fffa;
}

.middle-admin .admin-manage-user .tab-container .tbl-action a {
  display: block;
  height: 100%;
  color: #ccc;
  font-size: 24px;
}

.middle-admin .admin-manage-user .tab-container .tbl-action a:hover {
  color: #f58031;
}

.middle-admin .admin-manage-user .tab-container .table-employee {
  margin-bottom: 90px;
}

.middle-admin .post-share-section {
  padding: 10px 0;
}

.middle-admin .post-share-section .post-conatiner {
  width: 100%;
  max-width: 1025px;
}

.middle-admin .post-share-section .post-box {
  width: 100%;
  border-radius: 14px;
  padding: 25px 25px 0 25px;
  background: -webkit-gradient(linear, left bottom, left top, from(white), color-stop(70%, white), to(#ebebeb));
  background: linear-gradient(0deg, white 0%, white 70%, #ebebeb 100%);
  margin-bottom: 33px;
  border-bottom: 1px solid #ebebeb;
}

.middle-admin .post-share-section .post-box .post-header {
  padding: 0 0 0 70px;
  position: relative;
}

.middle-admin .post-share-section .post-box .post-header .profile-photo {
  height: 60px;
  width: 60px;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  border-radius: 100%;
}

.middle-admin .post-share-section .post-box .post-header .profile-photo img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.middle-admin .post-share-section .post-box .post-header .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 0 20px 0;
}

.middle-admin .post-share-section .post-box .post-header .content .content-left {
  padding: 5px 0 0 0;
}

.middle-admin .post-share-section .post-box .post-header .content .content-left h5 {
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  margin: 0 0 0 0;
}

.middle-admin .post-share-section .post-box .post-header .content .content-left p {
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 0;
}

.middle-admin .post-share-section .post-box .post-header .content .content-right p {
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 0;
  font-weight: 500;
}

.middle-admin .post-share-section .post-box .post-header .content .content-right p span {
  font-weight: 400;
}

.middle-admin .post-share-section .post-box .post-header-info {
  border-bottom: 1px solid #e4e4e4;
}

.middle-admin .post-share-section .post-box .post-header-info p {
  font-size: 15px;
  line-height: 23px;
  color: #1c283a;
  margin-bottom: 40px;
  font-weight: 400;
}

.middle-admin .post-share-section .post-box .post-body {
  padding: 40px 0 0 0;
}

.middle-admin .post-share-section .post-box .post-body .content h3 {
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 12px;
}

.middle-admin .post-share-section .post-box .post-body .content p {
  font-size: 15px;
  line-height: 23px;
  color: #1c283a;
  margin-bottom: 40px;
  font-weight: 400;
  max-width: 500px;
}

.middle-admin .post-share-section .post-box .post-body .img-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -7px;
}

.middle-admin .post-share-section .post-box .post-body .img-group .img-box {
  width: calc(33% - 14px);
  margin: 0 7px;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 10px;
}

.middle-admin .post-share-section .post-box .post-body .img-group .img-box:first-child {
  width: calc(33% - 14px);
}

.middle-admin .post-share-section .post-box .post-body .img-group .img-box img {
  width: 100%;
  -o-object-fit: 100%;
  object-fit: 100%;
  height: 265px;
}

.middle-admin .post-share-section .post-box .post-footer {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.middle-admin .post-share-section .post-box .post-footer .btn-groups-post {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.middle-admin .engagment-ranking {
  padding: 0 30px;
}

.middle-admin .engagment-ranking .heading h6 {
  text-align: left;
  margin-bottom: 0;
  text-transform: uppercase;
  line-height: 20px;
}

.middle-admin .engagment-ranking .heading .select-month {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.middle-admin .engagment-ranking .heading .select2 {
  width: auto !important;
}

.middle-admin .engagment-ranking .heading .select2-container {
  border: 0;
}

.middle-admin .engagment-ranking .heading .select2-container--default .select2-selection--single {
  outline: 0;
  height: 30px !important;
  border: 1px solid transparent !important;
  background-color: transparent !important;
}

.middle-admin .engagment-ranking .heading .select2-container--default .select2-selection--single .select2-selection__rendered {
  border: 1px solid transparent !important;
  height: 32px;
  background-color: transparent !important;
  border-radius: 0;
  font-size: 14px;
  line-height: 30px !important;
  font-weight: 400;
  padding-left: 0 !important;
  padding-right: 30px !important;
}

.middle-admin .engagment-ranking .heading .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 30px !important;
}

.middle-admin .engagment-ranking .heading .select2-container--default .select2-selection--single .select2-selection__arrow::after {
  color: #888888;
  content: "\f107";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  border: 0;
  position: relative;
  top: 5px;
  right: 0;
}

.middle-admin .engagment-ranking .heading .select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none;
}

.middle-admin .engagment-ranking .engagement-list {
  padding: 00;
}

.middle-admin .engagment-ranking .engagement-list .engagement-item {
  padding: 000 45px;
  margin-bottom: 30px;
  position: relative;
}

.middle-admin .engagment-ranking .engagement-list .engagement-item .engage-profile {
  height: 36px;
  width: 36px;
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.middle-admin .engagment-ranking .engagement-list .engagement-item .engage-profile img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.middle-admin .engagment-ranking .engagement-list .engagement-item .engage-info h6 {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
}

.middle-admin .engagment-ranking .engagement-list .engagement-item .engage-info p {
  font-size: 12px;
  line-height: 18px;
  color: #1c283a;
  margin-bottom: 0;
}

.middle-admin .admin-profile-section .dashboard-container {
  max-width: 1135px;
  width: 100%;
}

.middle-admin .admin-profile-section .profile-card {
  background-color: #fff;
  border-radius: 10px 10px 10px 10px;
  border: 1px solid #e6e6e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 30px;
}

.middle-admin .admin-profile-section .profile-card .card-profile-pic {
  width: 261px;
  min-width: 261px;
  height: 248px;
}

.middle-admin .admin-profile-section .profile-card .card-profile-pic img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.middle-admin .admin-profile-section .profile-card .card-profile-info {
  padding: 22px 30px;
}

.middle-admin .admin-profile-section .profile-card .card-profile-info h5 {
  color: #737c8b;
  margin-bottom: 10px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 19px;
}

.middle-admin .admin-profile-section .profile-card .card-profile-info h3 {
  color: #1c283a;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 20px;
}

.middle-admin .admin-profile-section .profile-card .card-profile-info p {
  font-size: 16px;
  line-height: 19px;
  color: #737c8b;
  font-weight: 400;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  display: -webkit-box;
  max-width: 98%;
}

.middle-admin .admin-profile-section .profile-card .card-profile-info .card-media ul li {
  margin-right: 20px;
  display: inline-block;
}

.middle-admin .admin-profile-section .profile-card .card-profile-info .card-media ul li a {
  color: #1c283a;
  font-size: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all 0.5;
  transition: all 0.5;
}

.middle-admin .admin-profile-section .profile-card .card-profile-info .card-media ul li a:hover {
  color: #f58031;
  -webkit-transition: all 0.5;
  transition: all 0.5;
}

.middle-admin .admin-profile-section .recent-activity {
  padding: 28px 30px;
  background: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  margin-bottom: 30px;
}

.middle-admin .admin-profile-section .recent-activity .heading h5 {
  margin-bottom: 26px;
}

.middle-admin .admin-profile-section .recent-activity .recent-list .recent-item {
  padding-left: 80px;
  position: relative;
  min-height: 70px;
  margin-bottom: 30px;
}

.middle-admin .admin-profile-section .recent-activity .recent-list .recent-item:last-child {
  margin-bottom: 0;
}

.middle-admin .admin-profile-section .recent-activity .recent-list .recent-item .recent-pic {
  width: 67px;
  height: 67px;
  position: absolute;
  left: 0;
  top: 0;
}

.middle-admin .admin-profile-section .recent-activity .recent-list .recent-item .recent-pic .badge {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: #f58031;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  right: -3px;
  top: -3px;
  font-size: 10px;
  line-height: 13px;
}

.middle-admin .admin-profile-section .recent-activity .recent-list .recent-item .recent-pic img {
  width: 67px;
  height: 67px;
  border-radius: 10px;
  -o-object-fit: cover;
  object-fit: cover;
  overflow: hidden;
}

.middle-admin .admin-profile-section .recent-activity .recent-list .recent-item .recent-comment h5 {
  font-size: 16px;
  line-height: 19px;
  color: #1c283a;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  display: -webkit-box;
  max-width: 98%;
}

.middle-admin .admin-profile-section .recent-activity .recent-list .recent-item .recent-comment p {
  font-size: 14px;
  line-height: 17px;
  color: #737c8b;
}

.middle-admin .admin-profile-section .recent-activity .recent-list .recent-item .recent-comment p span {
  height: 12px;
  width: 12px;
  display: inline-block;
  margin-right: 8px;
}

.middle-admin .admin-profile-section .recent-activity .recent-list .recent-item .recent-comment p span img {
  width: 100%;
}

.middle-admin .admin-profile-section .chart-section {
  padding: 40px 0;
}

.middle-admin .admin-profile-section .chart-section .chart-heading h3 {
  margin-bottom: 13px;
}

.middle-admin .admin-profile-section .chart-section .chart-heading p {
  font-size: 16px;
  line-height: 19px;
  color: #737c8b;
}

.middle-admin .admin-profile-section .chart-section .reach-chart {
  display: block;
  padding: 40px 20px;
}

.middle-admin.dashboard {
  padding: 0 0 46px 0;
}

.middle-admin.dashboard .dashboard-container {
  max-width: 1260px;
  width: 100%;
}

.modal-custom .modal-dialog {
  max-width: 800px !important;
  width: 100%;
  margin: 0 auto;
}

.modal-custom .modal-dialog .modal-content {
  border-radius: 14px !important;
}

.modal-custom .modal-dialog .modal-content .close {
  font-size: 40px;
  -webkit-text-stroke: 2px #fff;
  outline: 0;
}

.modal-custom .modal-dialog .invite-employee {
  display: block;
  text-align: center;
}

.modal-custom .modal-dialog .invite-employee .heading {
  margin-bottom: 30px;
}

.modal-custom .modal-dialog .invite-employee .content {
  min-height: 160px;
  margin: 0 auto;
  margin-bottom: 80px;
  max-width: 560px;
}

.modal-custom .modal-dialog .invite-employee .content p {
  color: #8d8d8d;
  font-size: 24px;
  line-height: 29px;
}

.modal-custom .modal-dialog .invite-employee .content .svg-icon {
  background-color: #1c283a;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.modal-custom .modal-dialog .invite-employee .content .form-btns {
  padding-top: 40px;
}

.modal-custom .modal-dialog .invite-employee .content .form-btns .btn {
  font-size: 16px;
  max-width: 358px;
  width: 100%;
}

.modal-custom .modal-dialog .invite-post-schedul {
  display: block;
  text-align: center;
}

.modal-custom .modal-dialog .invite-post-schedul .heading {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.modal-custom .modal-dialog .invite-post-schedul .heading .select-post {
  max-width: 230px;
  margin-right: 50px;
  width: 100%;
}

.modal-custom .modal-dialog .invite-post-schedul .content {
  min-height: 160px;
  margin-bottom: 0;
}

.modal-custom .modal-dialog .invite-post-schedul .content p {
  color: #8d8d8d;
  font-size: 24px;
  line-height: 29px;
}

.modal-custom .modal-dialog .invite-post-schedul .content .form-control[type="file"] {
  min-height: 185px;
  padding-bottom: 30px;
}

.modal-custom .modal-dialog .invite-post-schedul .content .custom-file {
  height: 185px;
}

.modal-custom .modal-dialog .invite-post-schedul .content .custom-file-label {
  height: 185px;
  padding-bottom: 30px;
  text-align: left;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 10px;
  font-size: 16px;
  line-height: 30px;
}

.modal-custom .modal-dialog .invite-post-schedul .content .custom-file-label::after {
  display: none;
}

.modal-custom .modal-dialog .invite-post-schedul .content textarea {
  min-height: 185px;
  padding-bottom: 30px;
}

.modal-custom .modal-dialog .invite-post-schedul .content .footer-text-area {
  position: relative;
  left: 0;
  bottom: 30px;
  width: 100%;
  display: block;
  text-align: left;
  padding: 0 15px;
  z-index: 1;
}

.modal-custom .modal-dialog .invite-post-schedul .content .footer-text-area img {
  width: 25px;
  height: 21px;
  margin-left: 5px;
}

.modal-custom .modal-dialog .invite-invitation {
  display: block;
  text-align: center;
}

.modal-custom .modal-dialog .invite-invitation .heading {
  margin-bottom: 90px;
}

.modal-custom .modal-dialog .invite-invitation .content {
  min-height: 160px;
  margin-bottom: 80px;
}

.modal-custom .modal-dialog .invite-invitation .content p {
  color: #8d8d8d;
  font-size: 24px;
  line-height: 29px;
}

.modal-custom .modal-dialog .select2 {
  width: 100% !important;
}

.modal-custom .modal-dialog .select2-container {
  border: 0;
}

.modal-custom .modal-dialog .select2-container--default .select2-selection--single {
  outline: 0;
  height: 40px !important;
  border: 1px solid #ddd !important;
  background-color: transparent !important;
}

.modal-custom .modal-dialog .select2-container--default .select2-selection--single .select2-selection__rendered {
  border: 1px solid transparent !important;
  height: 42px;
  background-color: transparent !important;
  border-radius: 0;
  font-size: 14px;
  line-height: 40px !important;
  font-weight: 600;
  padding-left: 20px !important;
}

.modal-custom .modal-dialog .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 40px !important;
}

.modal-custom .modal-dialog .select2-container--default .select2-selection--single .select2-selection__arrow::after {
  color: #888888;
  content: "\f107";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  border: 0;
  position: relative;
  top: 8px;
  right: 5px;
}

.modal-custom .modal-dialog .select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none;
}

@media (max-width: 320px) {
  .admin-header .company-name h3 {
    font-size: 14px !important;
    line-height: 16px !important;
  }
}

@media (max-width: 767px) {
  .admin-page .navbar-toggler {
    top: 10px !important;
    right: 8px !important;
    z-index: 99;
  }

  .admin-page .navbar-toggler .navbar-toggler-icon {
    height: 24px !important;
    width: 34px !important;
  }

  .admin-header {
    padding-left: 60px;
    position: relative;
  }

  .admin-header .logo-admin-header {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 39px;
    height: 39px;
  }

  .admin-header .admin-profile {
    padding: 0 35px 0 0;
  }

  .admin-header .admin-profile .notification {
    padding: 0 8px;
  }

  .admin-header .admin-profile .notification .dropdown-menu {
    width: 100%;
    right: -80px;
    left: auto;
    top: 20px;
  }

  .admin-header .admin-profile .add {
    padding: 0 8px;
    display: none;
  }

  .admin-header .admin-profile .add .btn-round {
    height: 30px;
    width: 30px;
    min-width: 30px;
    padding: 0;
  }

  .admin-header .admin-profile .user-profile {
    padding: 0 8px;
  }

  .admin-header .company-name h3 {
    font-size: 18px;
    line-height: 22px;
  }

  .left-sidenav {
    position: fixed;
    left: 0;
    top: 0;
    width: 0;
  }

  .left-sidenav .side-nav-logo::before {
    display: none !important;
  }

  .left-sidenav .nav-div {
    padding: 10px 0 10px 0;
    margin-bottom: 10px;
  }

  .left-sidenav .nav-div .sidenav ul li a {
    height: 60px;
  }

  .left-sidenav .nav-div .sidenav ul li a::after {
    height: 55px;
  }

  .left-sidenav.w-70 {
    width: 70px !important;
  }

  .sidemenu-open-main {
    padding-left: 0 !important;
  }

  .sidemenu-open-header {
    padding-left: 0 !important;
  }

  .middle-admin .admin-seeting-tabs .tab-container {
    padding: 00 !important;
  }

  .middle-admin .admin-seeting-tabs .tab-container .nav-tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow-y: scroll;
  }

  .middle-admin .admin-seeting-tabs .tab-container .nav-tabs li a {
    padding: 15px 10px;
  }

  .middle-admin .admin-manage-user {
    overflow: hidden;
  }

  .middle-admin .admin-manage-user .tab-container {
    padding: 0 0 !important;
  }

  .middle-admin .admin-manage-user .tab-container .drop-section {
    height: 280px;
  }

  .middle-admin .post-share-section .post-box .post-body .img-group {
    margin: 0 -3px;
  }

  .middle-admin .post-share-section .post-box .post-body .img-group .img-box {
    margin: 0 3px;
    width: calc(50% - 6px);
    margin-bottom: 6px;
  }

  .middle-admin .post-share-section .post-box .post-body .img-group .img-box img {
    height: 120px;
  }

  .middle-admin .post-share-section .post-box .post-body .img-group .img-box:first-child {
    width: 100%;
  }

  .middle-admin .post-share-section .post-box .post-body .img-group .img-box:first-child img {
    height: 180px;
  }

  .middle-admin .post-share-section .post-box .post-footer .btn-groups-post .btn i {
    margin-right: 0;
  }

  .middle-admin .post-share-section .post-box .post-footer .btn-groups-post .btn .text-span {
    display: none;
  }

  .middle-admin .engagment-ranking {
    padding: 0 30px;
  }

  .middle-admin .engagment-ranking .heading h6 {
    text-align: left;
    margin-bottom: 0;
    text-transform: uppercase;
    line-height: 20px;
  }

  .middle-admin .engagment-ranking .heading .select-month {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .middle-admin .admin-profile-section .profile-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .middle-admin .admin-profile-section .profile-card .card-profile-pic {
    width: 100%;
  }

  .middle-admin .admin-profile-section .profile-card .card-profile-pic img {
    max-height: 248px;
    min-height: 248px;
  }

  .middle-admin.dashboard {
    padding: 30px 0 46px 0;
  }
}

@media (min-width: 992px) {
  .min-125 {
    height: 125px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .min-125 .form-group {
    margin-bottom: 0;
    width: 100%;
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .navbar-toggler {
    display: none !important;
  }

  .middle-admin .admin-seeting-tabs .tab-container {
    padding: 0 40px !important;
  }

  .middle-admin .admin-manage-user .tab-container {
    padding: 0 0 !important;
  }

  .middle-admin .post-share-section .post-box .post-body .img-group .img-box img {
    height: 170px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .middle-admin .engagment-ranking {
    padding: 0 30px;
  }

  .middle-admin .engagment-ranking .heading h6 {
    text-align: left;
    margin-bottom: 0;
    text-transform: uppercase;
    line-height: 20px;
  }

  .middle-admin .engagment-ranking .heading .select-month {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

.flatpickr-month {
  background: #f58031 !important;
}

.flatpickr-weekdays {
  background: #f58031 !important;
}

select.flatpickr-monthDropdown-months {
  background: #f58031 !important;
}

option.flatpickr-monthDropdown-month {
  background-color: #f58031 !important;
}

span.flatpickr-weekday {
  background: #f58031 !important;
  color: white !important;
}

/*# sourceMappingURL=admin.css.map */