.dash-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: cover;
  background-color: #9499a2;
  transition: all 0.2s;

  &:hover {
    background-color: #fff;
  }
}

.active {
  .dash-icon {
    background-color: #fff;
  }
}

.icon-home {
  -webkit-mask: url(../images/icons/home.svg) no-repeat 50% 50%;
  mask: url(../images/icons/home.svg) no-repeat 50% 50%;
  width: 29px;
  height: 26px;
}

.icon-user-circle {
  -webkit-mask: url(../images/icons/user-circle.svg) no-repeat 50% 50%;
  mask: url(../images/icons/user-circle.svg) no-repeat 50% 50%;
  width: 32px;
  height: 32px;
}

.icon-list {
  -webkit-mask: url(../images/icons/list.svg) no-repeat 50% 50%;
  mask: url(../images/icons/list.svg) no-repeat 50% 50%;
  width: 26px;
  height: 24px;
}

.icon-guage {
  -webkit-mask: url(../images/icons/guage.svg) no-repeat 50% 50%;
  mask: url(../images/icons/guage.svg) no-repeat 50% 50%;
  width: 28px;
  height: 28px;
}

.icon-users {
  -webkit-mask: url(../images/icons/users.svg) no-repeat 50% 50%;
  mask: url(../images/icons/users.svg) no-repeat 50% 50%;
  width: 34px;
  height: 24px;
}

.icon-help {
  -webkit-mask: url(../images/icons/help.svg) no-repeat 50% 50%;
  mask: url(../images/icons/help.svg) no-repeat 50% 50%;
  width: 30px;
  height: 30px;
}

.icon-setting {
  -webkit-mask: url(../images/icons/settings.svg) no-repeat 50% 50%;
  mask: url(../images/icons/settings.svg) no-repeat 50% 50%;
  width: 25px;
  height: 24px;
}

// admin
.admin-page {
  .header {
    .navbar {
      position: fixed !important;
      left: 0;
      top: 0;
      right: 0;
      height: 84px;
      border-bottom: 4px solid #f0f0f0;
      animation-name: none !important;
    }
  }
}

.left-sidenav {
  transition: all 0.5s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #1c283a;
  width: 106px;
  height: 100%;
  min-height: 100vh;
  z-index: 9999;
  display: block;

  .left-sidenav-inner {
    height: 100%;
    overflow: hidden;

    .nav-div {
      min-height: calc(100vh - 100px);
      height: 100%;
      overflow-y: auto;
      padding-bottom: 100px;
      max-height: 1024px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      &::-webkit-scrollbar {
        width: 5px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: #1c283a;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #888;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
    }
  }

  .side-nav-logo {
    height: 84px;
    background-color: #f58031;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 30px;

    &::before {
      content: "";
      clip-path: polygon(0 0, 0% 100%, 100% 100%);
      position: absolute;
      bottom: 0;
      right: -21px;
      display: block;
      height: 84px;
      width: 21px;
      background-color: #f2f2f2;
    }

    &::after {
      content: "";
      clip-path: polygon(0 0, 0% 100%, 100% 0);
      position: absolute;
      bottom: -21px;
      left: 0;
      display: block !important;
      height: 21px;
      width: 100%;
      background-color: #151e2c;
      z-index: 5;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;

      img {
        height: 38px;
        width: 38px;
      }
    }
  }

  .nav-div {
    // margin: 30px 0 0 0;
    padding: 30px 000;
    position: relative;
    width: 100%;

    .sidenav {
      width: 100%;

      ul {
        li {
          display: block;
          margin-bottom: 4px;

          a {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 74px;
            background-color: rgba(255, 255, 255, 0.05);
            position: relative;

            &::after {
              content: "";
              height: 68px;
              width: 2px;
              position: absolute;
              top: 3px;
              left: 4px;
              display: none;
              background-color: #6fb02f;
            }

            &:hover {
              background-color: rgba(255, 255, 255, 0.1);

              &::after {
                display: block;
              }
            }

            &.active {
              background-color: rgba(255, 255, 255, 0.1);

              &::after {
                display: block;
              }
            }
          }
        }
      }
    }
  }
}

.sidemenu-open-main {
  padding-left: 120px !important;
  display: block;
  position: relative;
}

.sidemenu-open-header {
  padding-left: 106px !important;
}

.admin-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  .logo-admin-header {
    height: 39px;
    width: 39px;
    display: none;

    a {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 100%;
      }
    }
  }

  .company-name {
    h3 {
      font-size: 35px;
      line-height: 23px;
      font-weight: 500;
      color: #4e4e4e;
      margin-bottom: 0;
    }
  }

  .collapse1 {
    .navbar-nav {
      justify-content: flex-end !important;
    }
  }

  .admin-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    .notification {
      padding: 0 20px;
      min-height: 42px;
      display: flex;
      align-items: center;
      justify-content: center;

      .icon-notifaction {
        display: block;
        position: relative;

        .badge {
          height: 7px;
          min-height: 7px;
          width: 7px;
          max-width: 7px;
          min-width: 7px;
          padding: 0;
          position: absolute;
          border-radius: 100%;
          background-color: #f58031;
          margin: 0 auto;
          bottom: -18px;
          left: 0;
          right: 0;
        }

        img {
          height: 18px;
          width: 18px;
        }
      }

      .dropdown-menu {
        right: 0;
        top: 40px;
        left: auto;
        background-color: #fff;
        padding: 20px 15px;
        min-width: 280px;
        border-radius: 0;
        width: 100%;
        border: 0;
        box-shadow: 0 60px 60px 0 rgba(0, 0, 0, 0.14);

        ul {
          margin: 0;
          padding: 0;
          list-style: none;

          li {
            background-color: #fff;
            padding: 5px 10px;
            border-bottom: 1px solid rgba(51, 51, 51, 0.2);

            &:last-child {
              border: 0;
            }

            &:hover {
              transition: all 0.5s;
              background-color: rgba(245, 128, 49, 0.1);
            }

            h3 {
              font-size: 14px;
              line-height: 24px;
              color: #1c283a;
              font-weight: 600;
              margin-bottom: 0;
            }

            p {
              font-size: 14px;
              line-height: 22px;
              color: #333333;
              margin-bottom: 5px;
            }

            span {
              display: block;
              text-align: right;
              font-size: 12px;
              color: #1c283a;
            }
          }
        }
      }
    }

    // add

    .br-1 {
      position: relative;

      &::after {
        content: "";
        display: block;
        height: 25px;
        width: 2px;
        position: absolute;
        right: 0;
        top: 8px;
        background-color: #ebebeb;
      }
    }

    .add {
      padding: 0 23px;

      .btn-round {
        border-radius: 100%;
      }
    }

    // prfile
    .user-profile {
      padding: 0 25px;

      .profile-option {
        img {
          border-radius: 100%;
          overflow: hidden;
          height: 42px;
          width: 42px;
        }

        &::after {
          color: #888;
          content: "\f107";
          display: inline-block;
          font: normal normal normal 14px/1 FontAwesome;
          font-size: inherit;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          font-size: 16px;
          border: 0;
          position: relative;
          top: 5px;
        }
      }

      .dropdown-menu {
        left: auto;
        right: 0;
        border: 0;
        padding: 10px 0;
        box-shadow: 0 60px 60px 0 rgba(0, 0, 0, 0.14);

        a {
          font-size: 15px;
          line-height: 34px;
          color: #1c283a;
          font-weight: 500;
          letter-spacing: 0.3px;

          &:hover {
            background-color: #f58031;
            color: #fff;
          }

          &:active {
            background-color: #f58031;
            color: #fff;
          }
        }
      }
    }
  }
}

// admin header end

.middle-admin {
  padding: 46px 0 46px 0;

  // heading

  .admin-heading-section {
    .admin-heading {
      h3 {
        font-size: 31px;
        line-height: 25px;
        color: #151e2c;
        font-weight: 400;
        margin-bottom: 22px;
      }
    }
  }

  // tabs

  .admin-seeting-tabs {
    .tab-container {
      max-width: 1440px;
      padding: 0 80px;

      .nav-tabs {
        border-bottom: 0;

        // E5E5E5
        li {
          a {
            padding: 22px 25px;
            display: block;
            font-size: 13px;
            line-height: 22px;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 0.4px;
            color: #222;
            border-bottom: 2px solid transparent;

            &.active {
              border-bottom: 2px solid #6fb02f;
            }
          }
        }
      }

      .tab-content {
        padding: 40px 0;

        .tab-body {
          .profile-img {
            height: 125px;
            width: 125px;
            overflow: hidden;

            img {
              width: 100%;
              object-fit: cover;
              height: 100%;
            }
          }

          .company-logo {
            height: 250px;
            width: 250px;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .company-icon {
            height: 125px;
            width: 125px;
            overflow: hidden;

            img {
              width: 100%;
              object-fit: cover;
              height: 100%;
            }
          }

          .file-upload {
            display: none;
          }

          .form {
            margin-bottom: 20px;
          }

          .post-content {
            margin-bottom: 80px;

            .post-heading {
              h5 {
                margin-bottom: 20px;
              }
            }

            .btn {
              margin-bottom: 10px;
            }
          }

          .subscription-content {
            margin-bottom: 20px;

            .subscription-heading {
              h5 {
                margin-bottom: 20px;
              }
            }
          }

          // table

          table {
            box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.08);
            border-radius: 10px 10px 0 0;
            overflow: hidden;

            .thead-dark th {
              background-color: #1c283a !important;
              border-color: #1c283a !important;
              height: 60px;
              vertical-align: middle;
            }

            tbody {
              tr {
                &:nth-of-type(even) {
                  background-color: #fbfbfb;
                }

                td {
                  color: #737c8b;
                  font-weight: 400;
                  font-size: 16px;
                  line-height: 19px;
                  min-height: 50px;
                  vertical-align: middle;
                  border-top: 1px solid #fff;
                }
              }
            }
          }

          .tbl-action {
            display: flex;
            align-items: center;
            justify-content: center;

            .switch-slider {
              margin-bottom: 0 !important;
            }

            a {
              display: block;
              height: 100%;
              color: #ccc;
              font-size: 24px;

              &:hover {
                color: #f58031;
              }
            }
          }

          // end table
        }
      }
    }

    .bt-20 {
      border-bottom: 17px solid #e5e5e5;
    }
  }

  .admin-manage-user {
    .tab-container {
      max-width: 1440px;
      padding: 0 80px;

      .drop-section {
        height: 226px;
        background-color: #e6e6e6;
        border: 1px solid #ddd;
        border-radius: 10px;
        margin-bottom: 20px;
      }

      // table

      table {
        box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.08);
        border-radius: 10px 10px 0 0;
        overflow: hidden;

        .thead-dark th {
          background-color: #1c283a !important;
          border-color: #1c283a !important;
          height: 60px;
          vertical-align: middle;
          text-align: center;
        }

        tbody {
          tr {
            &:nth-of-type(even) {
              background-color: #fbfbfb;
            }

            td {
              color: #737c8b;
              font-weight: 400;
              font-size: 16px;
              line-height: 19px;
              min-height: 50px;
              vertical-align: middle;
              border-top: 1px solid #fff;
              text-align: center;
            }
          }
        }

        .text-green {
          color: #6fb02f;
        }

        .select2-container--default .select2-results__option--highlighted[aria-selected] {
          background-color: #f58031 !important;
          color: #fff;
        }

        .select2 {
          width: 100% !important;
        }

        .select2-container {
          border: 0;
        }

        .select2-container--default .select2-selection--single {
          outline: 0;
          height: 40px !important;
          border: 1px solid transparent !important;
          background-color: transparent !important;
        }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
          border: 1px solid transparent !important;
          height: 42px;
          background-color: transparent !important;
          border-radius: 0;
          font-size: 14px;
          line-height: 40px !important;
          font-weight: 600;
          padding-left: 20px !important;
        }

        .select2-container--default .select2-selection--single .select2-selection__arrow {
          height: 40px !important;

          &::after {
            color: #888;
            content: "\f107";
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            font-size: 16px;
            border: 0;
            position: relative;
            top: 10px;
          }

          b {
            display: none;
          }
        }
      }

      .tbl-action {
        display: flex;
        align-items: center;
        justify-content: center;

        .switch-slider {
          margin-bottom: 0 !important;
        }

        .actiion-div {
          display: flex;
          flex-direction: row;

          a {
            font-size: 30px;
            color: #ccc;
            transition: all 0.3s;

            &:hover {
              transition: all 0.3s;
            }
          }

          .facebook {
            &:hover {
              color: #4c8aed;
            }
          }

          .linkedin {
            &:hover {
              color: #45a8cc;
            }
          }

          .twitter {
            &:hover {
              color: #84fffa;
            }
          }
        }

        a {
          display: block;
          height: 100%;
          color: #ccc;
          font-size: 24px;

          &:hover {
            color: #f58031;
          }
        }
      }

      // end table

      .table-employee {
        margin-bottom: 90px;
      }
    }
  }

  .post-share-section {
    padding: 10px 0;

    .post-conatiner {
      width: 100%;
      max-width: 1025px;
    }

    .post-box {
      width: 100%;
      border-radius: 14px;
      padding: 25px 25px 0 25px;
      background: linear-gradient(0deg,
          rgba(255, 255, 255, 1) 0%,
          rgba(255, 255, 255, 1) 70%,
          rgba(235, 235, 235, 1) 100%);
      margin-bottom: 33px;
      border-bottom: 1px solid #ebebeb;

      .post-header {
        padding: 0 0 0 70px;
        position: relative;

        .profile-photo {
          height: 60px;
          width: 60px;
          position: absolute;
          left: 0;
          top: 0;
          overflow: hidden;
          border-radius: 100%;

          img {
            width: 100%;
            object-fit: cover;
          }
        }

        .content {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
          padding: 0 0 20px 0;

          .content-left {
            padding: 5px 0 0 0;

            h5 {
              font-size: 20px;
              line-height: 26px;
              font-weight: 600;
              margin: 0 0 0 0;
            }

            p {
              font-size: 14px;
              line-height: 26px;
              margin-bottom: 0;
            }
          }

          .content-right {
            p {
              font-size: 14px;
              line-height: 26px;
              margin-bottom: 0;
              font-weight: 500;

              span {
                font-weight: 400;
              }
            }
          }
        }
      }

      .post-header-info {
        border-bottom: 1px solid #e4e4e4;

        p {
          font-size: 15px;
          line-height: 23px;
          color: #1c283a;
          margin-bottom: 40px;
          font-weight: 400;
        }
      }

      .post-body {
        padding: 40px 0 0 0;

        .content {
          h3 {
            font-size: 14px;
            line-height: 26px;
            margin-bottom: 12px;
          }

          p {
            font-size: 15px;
            line-height: 23px;
            color: #1c283a;
            margin-bottom: 40px;
            font-weight: 400;
            max-width: 500px;
          }
        }

        .img-group {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          margin: 0 -7px;

          .img-box {
            width: calc(30% - 14px);
            margin: 0 7px;
            overflow: hidden;
            border-radius: 10px;
            margin-bottom: 10px;

            &:first-child {
              width: calc(40% - 14px);
            }

            img {
              width: 100%;
              object-fit: 100%;
              height: 265px;
            }
          }
        }
      }

      .post-footer {
        padding: 10px 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .btn-groups-post {
          justify-content: flex-end;
        }
      }
    }
  }

  // dashbaord

  .engagment-ranking {
    padding: 0 30px;

    .heading {
      h6 {
        text-align: right;
        margin-bottom: 0;
        text-transform: uppercase;
        line-height: 20px;
      }

      .select-month {
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }

      .select2 {
        width: auto !important;
      }

      .select2-container {
        border: 0;
      }

      .select2-container--default .select2-selection--single {
        outline: 0;
        height: 30px !important;
        border: 1px solid transparent !important;
        background-color: transparent !important;
      }

      .select2-container--default .select2-selection--single .select2-selection__rendered {
        border: 1px solid transparent !important;
        height: 32px;
        background-color: transparent !important;
        border-radius: 0;
        font-size: 14px;
        line-height: 30px !important;
        font-weight: 400;
        padding-left: 0 !important;
        padding-right: 30px !important;
      }

      .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 30px !important;

        &::after {
          color: #888;
          content: "\f107";
          display: inline-block;
          font: normal normal normal 14px/1 FontAwesome;
          font-size: inherit;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          font-size: 16px;
          border: 0;
          position: relative;
          top: 5px;
          right: 0;
        }

        b {
          display: none;
        }
      }
    }

    .engagement-list {
      padding: 30px 0;

      .engagement-item {
        padding: 0 0 0 45px;
        margin-bottom: 30px;
        position: relative;

        .engage-profile {
          height: 36px;
          width: 36px;
          border-radius: 100%;
          position: absolute;
          left: 0;
          top: 0;

          img {
            width: 100%;
            object-fit: cover;
          }
        }

        .engage-info {
          h6 {
            margin-bottom: 0;
            font-size: 16px;
            line-height: 20px;
            text-transform: capitalize;
          }

          p {
            font-size: 12px;
            line-height: 18px;
            color: #1c283a;
            margin-bottom: 0;
          }
        }
      }
    }
  }

  // admin profile

  .admin-profile-section {
    .dashboard-container {
      max-width: 1135px;
      width: 100%;
    }

    .profile-card {
      background-color: #fff;
      border-radius: 10px 10px 10px 10px;
      border: 1px solid #e6e6e6;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      margin-bottom: 30px;

      .card-profile-pic {
        width: 261px;
        min-width: 261px;
        height: 248px;

        img {
          width: 100%;
          object-fit: cover;
        }
      }

      .card-profile-info {
        padding: 22px 30px;

        h5 {
          color: #737c8b;
          margin-bottom: 10px;
          letter-spacing: 3px;
          text-transform: uppercase;
          font-size: 16px;
          line-height: 19px;
        }

        h3 {
          color: #1c283a;
          font-size: 24px;
          line-height: 29px;
          margin-bottom: 20px;
        }

        p {
          font-size: 16px;
          line-height: 19px;
          color: #737c8b;
          font-weight: 400;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          display: block;
          display: -webkit-box;
          max-width: 98%;
        }

        .card-media {
          ul {
            li {
              margin-right: 20px;
              display: inline-block;

              a {
                color: #1c283a;
                font-size: 22px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 0.5;

                &:hover {
                  color: #f58031;
                  transition: all 0.5;
                }
              }
            }
          }
        }
      }
    }

    // recent activity

    .recent-activity {
      padding: 28px 30px;
      background: #fff;
      border: 1px solid #e6e6e6;
      border-radius: 10px;
      margin-bottom: 30px;

      .heading {
        h5 {
          margin-bottom: 26px;
        }
      }

      .recent-list {
        .recent-item {
          padding-left: 80px;
          position: relative;
          min-height: 70px;
          margin-bottom: 30px;

          &:last-child {
            margin-bottom: 0;
          }

          .recent-pic {
            width: 67px;
            height: 67px;
            position: absolute;
            left: 0;
            top: 0;

            .badge {
              height: 20px;
              width: 20px;
              border-radius: 100%;
              background-color: #f58031;
              color: #fff;
              display: flex;
              align-items: center;
              justify-content: center;
              position: absolute;
              right: -3px;
              top: -3px;
              font-size: 10px;
              line-height: 13px;
            }

            img {
              width: 67px;
              height: 67px;
              border-radius: 10px;
              object-fit: cover;
              overflow: hidden;
            }
          }

          .recent-comment {
            h5 {
              font-size: 16px;
              line-height: 19px;
              color: #1c283a;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
              display: block;
              display: -webkit-box;
              max-width: 98%;
            }

            p {
              font-size: 14px;
              line-height: 17px;
              color: #737c8b;

              span {
                height: 12px;
                width: 12px;
                display: inline-block;
                margin-right: 8px;

                img {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }

    // chart
    .chart-section {
      padding: 40px 0;

      .chart-heading {
        h3 {
          margin-bottom: 13px;
        }

        p {
          font-size: 16px;
          line-height: 19px;
          color: #737c8b;
        }
      }

      .reach-chart {
        display: block;
        padding: 40px 20px;
      }
    }
  }
}

.middle-admin.dashboard {
  padding: 0 0 46px 0;

  .dashboard-container {
    max-width: 1260px;
    width: 100%;
  }
}

// modal
.modal-custom {
  .modal-dialog {
    max-width: 800px !important;
    width: 100%;
    margin: 0 auto;

    .modal-content {
      border-radius: 14px !important;

      .close {
        font-size: 40px;
        -webkit-text-stroke: 2px #fff;
        outline: 0;
      }
    }

    .invite-employee {
      display: block;
      text-align: center;

      .heading {
        margin-bottom: 30px;
      }

      .content {
        min-height: 160px;
        margin: 0 auto;
        margin-bottom: 80px;
        max-width: 560px;

        p {
          color: #8d8d8d;
          font-size: 24px;
          line-height: 29px;
        }

        .svg-icon {
          background-color: #1c283a;
          transition: all 0.3s;
        }

        .form-btns {
          padding-top: 40px;

          .btn {
            font-size: 16px;
            max-width: 358px;
            width: 100%;
          }
        }
      }
    }

    .invite-post-schedul {
      display: block;
      text-align: center;

      .heading {
        margin-bottom: 40px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        .select-post {
          max-width: 230px;
          margin-right: 50px;
          width: 100%;
        }
      }

      .content {
        min-height: 160px;
        margin-bottom: 0;

        p {
          color: #8d8d8d;
          font-size: 24px;
          line-height: 29px;
        }

        .form-control[type="file"] {
          min-height: 185px;
          padding-bottom: 30px;
        }

        .custom-file {
          height: 185px;
        }

        .custom-file-label {
          height: 185px;
          padding-bottom: 30px;
          text-align: left;
          border: 1px solid #ccc;
          background-color: #fff;
          border-radius: 10px;
          font-size: 16px;
          line-height: 30px;

          &::after {
            display: none;
          }
        }

        textarea {
          min-height: 185px;
          padding-bottom: 30px;
        }

        .footer-text-area {
          position: relative;
          left: 0;
          bottom: 30px;
          width: 100%;
          display: block;
          text-align: left;
          padding: 0 15px;
          z-index: 1;

          img {
            width: 25px;
            height: 21px;
            margin-left: 5px;
          }
        }
      }
    }

    .invite-invitation {
      display: block;
      text-align: center;

      .heading {
        margin-bottom: 90px;
      }

      .content {
        min-height: 160px;
        margin-bottom: 80px;

        p {
          color: #8d8d8d;
          font-size: 24px;
          line-height: 29px;
        }
      }
    }

    .select2 {
      width: 100% !important;
    }

    .select2-container {
      border: 0;
    }

    .select2-container--default .select2-selection--single {
      outline: 0;
      height: 40px !important;
      border: 1px solid #ddd !important;
      background-color: transparent !important;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
      border: 1px solid transparent !important;
      height: 42px;
      background-color: transparent !important;
      border-radius: 0;
      font-size: 14px;
      line-height: 40px !important;
      font-weight: 600;
      padding-left: 20px !important;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
      height: 40px !important;

      &::after {
        color: #888;
        content: "\f107";
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-size: 16px;
        border: 0;
        position: relative;
        top: 8px;
        right: 5px;
      }

      b {
        display: none;
      }
    }
  }
}

@media (max-width: 320px) {
  .admin-header .company-name h3 {
    font-size: 14px !important;
    line-height: 16px !important;
  }
}

@media (max-width: 767px) {
  .admin-page {
    .navbar-toggler {
      top: 10px !important;
      right: 8px !important;
      z-index: 99;

      .navbar-toggler-icon {
        height: 24px !important;
        width: 34px !important;
      }
    }
  }

  .admin-header {
    padding-left: 60px;
    position: relative;

    .logo-admin-header {
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 39px;
      height: 39px;
    }

    .admin-profile {
      padding: 0 35px 0 0;

      .notification {
        padding: 0 8px;

        .dropdown-menu {
          width: 100%;
          right: -80px;
          left: auto;
          top: 20px;
        }
      }

      .add {
        padding: 0 8px;
        display: none;

        .btn-round {
          height: 30px;
          width: 30px;
          min-width: 30px;
          padding: 0;
        }
      }

      .user-profile {
        padding: 0 8px;
      }
    }

    .company-name {
      h3 {
        font-size: 18px;
        line-height: 22px;
      }
    }
  }

  .left-sidenav {
    position: fixed;
    left: 0;
    top: 0;
    width: 0;

    .side-nav-logo {
      &::before {
        display: none !important;
      }
    }

    .nav-div {
      padding: 10px 0 10px 0;
      margin-bottom: 10px;

      .sidenav ul li a {
        height: 60px;

        &::after {
          height: 55px;
        }
      }
    }
  }

  .left-sidenav.w-70 {
    width: 70px !important;
  }

  .sidemenu-open-main {
    padding-left: 0 !important;
  }

  .sidemenu-open-header {
    padding-left: 0 !important;
  }

  // page

  .middle-admin {
    .admin-seeting-tabs {
      .tab-container {
        padding: 00 !important;

        .nav-tabs {
          display: flex;
          justify-content: flex-start;
          flex-direction: row;
          flex-direction: row;
          flex-wrap: nowrap;
          white-space: nowrap;
          overflow-y: scroll;

          li {
            a {
              padding: 15px 10px;
            }
          }
        }
      }
    }

    .admin-manage-user {
      overflow: hidden;

      .tab-container {
        padding: 0 0 !important;

        .drop-section {
          height: 280px;
        }
      }
    }

    .post-share-section {
      .post-box {
        .post-body {
          .img-group {
            margin: 0 -3px;

            .img-box {
              margin: 0 3px;
              width: calc(50% - 6px);
              margin-bottom: 6px;

              img {
                height: 120px;
              }

              &:first-child {
                width: 100%;

                img {
                  height: 180px;
                }
              }
            }
          }
        }

        .post-footer {
          .btn-groups-post {
            .btn {
              i {
                margin-right: 0;
              }

              .text-span {
                display: none;
              }
            }
          }
        }
      }
    }

    .engagment-ranking {
      padding: 0 30px;

      .heading {
        h6 {
          text-align: left;
          margin-bottom: 0;
          text-transform: uppercase;
          line-height: 20px;
        }

        .select-month {
          justify-content: flex-start;
        }
      }
    }

    .admin-profile-section {
      .profile-card {
        flex-direction: column;

        .card-profile-pic {
          width: 100%;

          img {
            max-height: 248px;
            min-height: 248px;
          }
        }
      }
    }
  }

  .middle-admin.dashboard {
    padding: 30px 0 46px 0;
  }
}

@media (min-width: 992px) {
  .min-125 {
    height: 125px;
    display: flex;
    align-items: flex-end;

    .form-group {
      margin-bottom: 0;
      width: 100%;
    }
  }
}

@media (max-width: 1024px) and (min-width: 768px) {
  .navbar-toggler {
    display: none !important;
  }

  .middle-admin {
    .admin-seeting-tabs {
      .tab-container {
        padding: 0 40px !important;
      }
    }

    .admin-manage-user {
      .tab-container {
        padding: 0 0 !important;
      }
    }

    .post-share-section {
      .post-box {
        .post-body {
          .img-group {
            .img-box {
              img {
                height: 170px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .middle-admin {
    .engagment-ranking {
      padding: 0 30px;

      .heading {
        h6 {
          text-align: left;
          margin-bottom: 0;
          text-transform: uppercase;
          line-height: 20px;
        }

        .select-month {
          justify-content: flex-start;
        }
      }
    }
  }
}