label {
  color: #1c283a;
  font-weight: 300;
  letter-spacing: 0.025em;
  margin-top: 16px;
  display: flex;
  text-align: start;
}

.StripeElement,
.StripeElementIdeal {
  /* display: block;
  margin: 10px 0 10px 0;
  max-width: 500px;
  padding: 10px 14px;
  box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px,
    rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
  border-radius: 4px;
  background: white; */
  border: 1px solid #cccccc;
  height: 50px;
  background-color: #ffffff;
  border-radius: 10px;
  font-size: 16px;
  line-height: 30px;
  outline: 0;
  color: #1c283a;
  padding: 8px 20px;
  font-weight: 400;
  transition: all 0.2s;
  width: 100%;
}

.StripeElement--focus,
.StripeElementIdeal--focus {
  /* box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px,
    rgba(0, 0, 0, 0.0784314) 0px 1px 3px;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease; */
  transition: all 0.2s;
  border-color: rgba(245, 128, 49, 0.3);
  color: #000000;
  box-shadow: 0 0 0 0.2rem rgba(245, 128, 49, 0.3);
}

.StripeElement.loading {
  height: 100px;
  opacity: 0.6;
}

.StripeElementIdeal {
  padding: 10px;
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background-color: #f58031;
  border-color: #f58031;
}