.switch-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.switch-slider span.text {
  margin-right: 10px;
  color: #737c8b;
  font-size: 19px;
  line-height: 23px;
}

.switch-slider label {
  margin-bottom: 0;
}

input[type="checkbox"].toggle.toggle {
  opacity: 0;
  position: absolute;
  left: -99999px;
}

input[type="checkbox"].toggle.toggle + label {
  height: 32px;
  width: 67px;
  line-height: 40px;
  background-color: #ccc;
  padding: 0 10px;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  font-size: 10px;
  position: relative;
  cursor: pointer;
}

input[type="checkbox"].toggle.toggle + label::before,
input[type="checkbox"].toggle.toggle + label:hover::before {
  content: " ";
  position: absolute;
  top: 2px;
  left: 3px;
  width: 28px;
  height: 28px;
  background: #fff;
  z-index: 2;
  border-radius: 100px;
  -webkit-box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.08);
}

input[type="checkbox"].toggle.toggle + label .off,
input[type="checkbox"].toggle.toggle + label .on {
  color: #fff;
  display: none !important;
}

input[type="checkbox"].toggle.toggle + label .off {
  margin-left: 20px;
  display: inline-block;
}

input[type="checkbox"].toggle.toggle + label .on {
  display: none;
}

input[type="checkbox"].toggle.toggle:checked + label .off {
  display: none;
}

input[type="checkbox"].toggle.toggle:checked + label .on {
  margin-right: 25px;
  display: inline-block;
}

input[type="checkbox"].toggle.toggle:checked + label,
input[type="checkbox"].toggle.toggle:focus:checked + label {
  height: 32px;
  width: 67px;
  background-color: #f58031;
  border: 1px solid #e0e0e0;
}

input[type="checkbox"].toggle.toggle:checked + label::before,
input[type="checkbox"].toggle.toggle:checked + label:hover::before,
input[type="checkbox"].toggle.toggle:focus:checked + label::before,
input[type="checkbox"].toggle.toggle:focus:checked + label:hover::before {
  background-position: 0 0;
  top: 1px;
  left: 100%;
  margin-left: -30px;
}

/*# sourceMappingURL=switch.css.map */